[submodule "substrate-node"]
	path = substrate-node
	url = https://github.com/rfinex/rchain.git
[submodule "harvester"]
	path = harvester
	url = https://github.com/CGems/polkascan-pre-harvester.git
[submodule "explorer-api"]
	path = explorer-api
	url = https://github.com/CGems/polkascan-pre-explorer-api.git
[submodule "explorer-gui"]
	path = explorer-gui
	url = https://github.com/CGems/polkascan-pre-explorer-gui.git
